<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <div>Baixa de Título</div>
  <button type="button" mat-icon-button (click)="close('No answer')" tabindex="-1">
      <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>

<mat-dialog-content>
<div class="alert alert-danger" role="alert">
  Deseja realmente realizar o pagamento desse título?
</div>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button (click)="close('No')" mat-raised-button color="warn">Cancelar</button>
  <button (click)="realizarPagamento()" mat-raised-button color="primary">Sim</button>
</mat-dialog-actions>