
<vex-scrollbar class="h-full relative">

    <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
        <div class="bg-card rounded-full border px-4"
        fxFlex="400px"
        fxFlex.lt-md="auto"
        fxHide.xs
        fxLayout="row"
        fxLayoutAlign="start center">
        <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
        <input [formControl]="searchCtrl"
            class="px-4 py-3 border-0 outline-none w-full bg-transparent"
            placeholder="Pesquisar..."
            type="search">
        </div>

        <span fxFlex></span>

        <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
        <mat-icon [icIcon]="icSearch"></mat-icon>
        </button>
    </div>

  <mat-progress-bar *ngIf="requisicao" mode="indeterminate" color="primary"></mat-progress-bar> 
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Data">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
        <mat-cell class="rows" style="text-align: left;" *matCellDef="let row"> {{row.documentDate | date : 'dd-MM-yyyy' || "-"}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Fatura">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fatura </mat-header-cell>
        <mat-cell class="rows" style="text-align: left;" *matCellDef="let row"> {{row.naturalKey || "-"}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Entidade">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Entidade </mat-header-cell>
        <mat-cell class="rows" style="text-align: left;" *matCellDef="let row"> {{row.buyerCustomerParty || "-"}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="NIF">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NIF </mat-header-cell>
        <mat-cell class="rows" style="text-align: left;" *matCellDef="let row"> {{row.buyerCustomerPartyTaxId || "-"}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
        <mat-cell class="rows" style="text-align: left;" *matCellDef="let row"> {{row.buyerCustomerPartyDescription || "-"}} </mat-cell>
    </ng-container> 

    <ng-container matColumnDef="Referencia">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Referência </mat-header-cell>
        <mat-cell class="rows" style="text-align: left;" *matCellDef="let row"> {{row.note || "-"}} </mat-cell>
    </ng-container> 

    <ng-container matColumnDef="Integrar">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Integrar no Jasmin </mat-header-cell>
        
        <mat-cell class="rows" style="text-align: left;" *matCellDef="let row">
            <div 
            [ngClass]="[ 'text-green', 'bg-green-light']"
            class="rounded px-2 py-1 font-medium text-xs"
            fxFlex="none">
                {{ row.isIntegration || row.id != null ? "SIM" : "NÃO" }}
            </div>
            <div *ngIf="row.errosIntegracao != null"
            [ngClass]="[ 'text-red', 'bg-red-light']"
            class="rounded px-2 py-1 font-medium text-xs"
            fxFlex="none">
                    ERRO
            </div>
        </mat-cell>            
    </ng-container> 

  
    
    <ng-container matColumnDef="Acoes">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ações </mat-header-cell>
        <mat-cell class="rows" *matCellDef="let row" [style.color]="row.color">
        <img (click)="updateVenda(row)" style="cursor: pointer; max-width: 25px;" src="../../../assets/view.png">
        <img *ngIf="row.idBaseLocal != 0" (click)="deleteVenda(row)" style="cursor: pointer; max-width: 25px; margin-left: 15px;" src="../../../assets/Recycle_Bin_Full.png">
        </mat-cell>
    </ng-container>  

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </vex-scrollbar>
  
