<div style="padding-bottom: 5%;" [@stagger]="true" class="p-gutter" vexContainer>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
        <div  [formGroup]="form" @fadeInUp class="card" fxFlex="auto">
            <p *ngIf="false"> teste </p>
            <div class="px-6 py-4" fxLayout="column">
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                        <mat-label>Nome</mat-label>
                        <input formControlName="nome" matInput required>
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                        <mat-label>NIF</mat-label>
                        <input formControlName="nif" type="number" matInput required>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                        <mat-label>Endereço</mat-label>
                        <input formControlName="endereco" matInput>
                    </mat-form-field>
                    <div fxLayoutAlign="center">
                        <mat-select-country fxFlex="auto"
                            label="País"
                            formControlName="pais"
                            placeHolder="Selecione o País"
                            [countries]="predefinedCountries"
                            [itemsLoadSize]="5"
                            [value]="defaultValue"
                            formControlName="pais"
                            [(ngModel)]="pais"
                            (onCountrySelected)="onCountrySelected($event)"
                            required>
                        </mat-select-country>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                        <mat-label>Cidade</mat-label>
                        <input formControlName="cidade" matInput>
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                        <mat-label>Moeda</mat-label>
                        <input formControlName="moeda" matInput>
                    </mat-form-field>
                </div>

                <!-- <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                        <mat-label>Usuário</mat-label>
                        <input formControlName="usuario" matInput required>
                    </mat-form-field>
                    <mat-form-field fxFlex="auto">
                        <mat-label>Password</mat-label>
                        <input [type]="inputType" formControlName="senha" matInput required>
                        <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                          <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                          <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                        </button>
                        <mat-hint>Clique no olho para alternar a visibilidade</mat-hint>
                        <mat-error *ngIf="form.get('senha').hasError('required')">A senha é um campo Obrigatório</mat-error>
                      </mat-form-field>
                </div> -->

                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                        <mat-label>Site</mat-label>
                        <input formControlName="site" matInput>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Telefone</mat-label>
                        <input formControlName="telefone" matInput>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput required>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Celular</mat-label>
                        <input formControlName="celular" matInput required>
                    </mat-form-field>
                </div>

                <!-- <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
                    <mat-form-field fxFlex="auto" class="example-full-width">
                        <mat-label>Descrição Serviço</mat-label>
                        <textarea formControlName="dsServico" matInput required></textarea>
                      </mat-form-field>
                </div> -->
                <div style="margin-left: auto;" fxFlex="auto">
                    <button [disabled]="form.invalid" (click)="salvar()" mat-raised-button color="primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <mat-menu #contactMenuTipoDoc="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item  (click)="openDialog()">
        <mat-icon [icIcon]="format_list_bulleted"></mat-icon>
        <span>Listar</span>
    </button>

    <button mat-menu-item>
        <mat-icon [icIcon]="icEdit"></mat-icon>
        <span>Criar</span>
    </button>
</mat-menu>

<mat-menu #contactMenuCliente="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="openDialog()">
        <mat-icon [icIcon]="format_list_bulleted"></mat-icon>
        <span>Listar</span>
    </button>

    <button mat-menu-item>
        <mat-icon [icIcon]="icEdit"></mat-icon>
        <span>Criar</span>
    </button>
</mat-menu> -->