<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>


    <h2 *ngIf="form.get('descricao').value " class="headline m-0" fxFlex="auto">{{ form.get('descricao').value}}</h2>
    <h2 *ngIf="!form.get('descricao').value" class="headline m-0" fxFlex="auto">Novo Perfil Usuario</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
<br/>
    <mat-form-field class="flex-auto">
      <mat-label>Descrição</mat-label>
      <input cdkFocusInitial formControlName="descricao" matInput required>
    </mat-form-field>

  

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit" [disabled]="!form.valid">CRIAR PERFIL DE USUÁRIO</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit" [disabled]="!form.valid">ATUALIZAR PERFIL DE USUÁRIO</button>
  </mat-dialog-actions>
</form>