<div class="form-group">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <div *ngIf="artigoVendaModel.errosIntegracao" [ngClass]="[ 'text-red', 'bg-red-light']"
      class="rounded px-2 py-1 font-medium text-xs" fxFlex="none">
      <p mat-line> Erro de Integração no Jasmin</p>
      {{ artigoVendaModel.errosIntegracao }}
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>


    <h2 *ngIf="artigoVendaModel.ItemKey " class="headline m-0" fxFlex="auto">{{ artigoVendaModel.ItemKey}}</h2>
    <h2 *ngIf="!artigoVendaModel.ItemKey" class="headline m-0" fxFlex="auto">Novo Artigo Venda</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>


  </div>

  <div *ngIf="requisicao">

    <mat-progress-bar *ngIf="requisicao" mode="indeterminate" color="primary">
    </mat-progress-bar>
    <br>

  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">

    <mat-tab-group dynamicHeight>

      <mat-tab label="Geral">
        <div class="flex flex-col sm:flex-row">
          <div class="sm:mt-6 sm:ml-6 flex-auto" fxLayout="column" fxLayoutGap="8px">
            <mat-checkbox [(ngModel)]="artigoVendaModel.isIntegration">Integrar artigo de venda com Jasmin</mat-checkbox>
          </div>
        </div>
        <div class="flex flex-col sm:flex-row">
          <mat-form-field class="mt-6 flex-auto">
            <mat-label>Artigo</mat-label>
            <input cdkFocusInitial [(ngModel)]="artigoVendaModel.ItemKey" matInput>
          </mat-form-field>

          <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
            <mat-label>Descrição</mat-label>
            <input [(ngModel)]="artigoVendaModel.description" matInput required>
          </mat-form-field>
        </div>

        <div class="flex flex-col sm:flex-row">
          <mat-form-field class="mt-6 flex-auto">
            <mat-label>Unidade Base</mat-label>
            <mat-select [(ngModel)]="artigoVendaModel.baseUnit" required>
              <mat-option *ngFor="let item of listOfUnidades" [value]="item.unitKey">{{item.unitKey}} - {{item.description}}

              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
            <mat-label>Tipo de Artigo</mat-label>
            <mat-select [(ngModel)]="artigoVendaModel.itemType" 
              required>
              <mat-option *ngFor="let item of listOfItemTypes" [value]="item.id"> {{item.description}}

              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="flex flex-col sm:flex-row">
          <mat-form-field class="flex-auto">
            <mat-label>Descrição Completa</mat-label>
            <textarea [(ngModel)]="artigoVendaModel.complementaryDescription" matInput>
            </textarea>
          </mat-form-field>
        </div>

        <div class="flex flex-col sm:flex-row">
          <p class="mt-6 mb-4 text-secondary" fxFlex="none">
            Geral
          </p>
        </div>

        <div class="flex flex-col sm:flex-row">
          <mat-form-field class="mt-6 flex-auto">
            <mat-label>Família</mat-label>
            <mat-select [(ngModel)]="artigoVendaModel.assortment" 
              required>
              <mat-option *ngFor="let item of listOfAssortments" [value]="item.assortmentKey"> {{item.description}}

              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
            <mat-label>Marca</mat-label>
            <mat-select [(ngModel)]="artigoVendaModel.brand" required>
              <mat-option *ngFor="let item of listOfBrands" [value]="item.brandKey"> {{item.description}}

              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
            <mat-label>Modelo Marca</mat-label>
            <mat-select [(ngModel)]="artigoVendaModel.brandModel" 
              required>
              <mat-option *ngFor="let item of listOfBrandModels" [value]="item.modelKey"> {{item.description}}

              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>
     
    </mat-tab-group>



  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button (click)="save()">CRIAR
      ARTIGO VENDA</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button (click)="save()">ATUALIZAR
      ARTIGO VENDA</button>
  </mat-dialog-actions>
</div>